.card-largura{
    max-width: 18rem;
}

.imagem-carrossel{
    object-fit: cover;
    object-position: 0 48%;
    height: 400px;
}

.fonte-titulo{
    font-family: 'Pacifico', cursive;
}

.cor-fonte-carrosel{
    color: darkcyan;
}

.cor-especial{
    color: darkcyan;
}

.botao-cor-especial{
    background-color: darkcyan;
    color: white;
}

.borda-cor-especial{
    border-color: darkcyan;
}

.card-posicao-imagem{
    object-fit: cover;
    object-position: 0 80%;
    height: 200px;
}

.config-fonte-modal-quem-somos{
    font-size: 30px;
    text-align: center;
    color: darkcyan;
    font-family: 'Pacifico', cursive;
}